.ball{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.triangle{
    width: 100px;
    height: 100px;
    background-color: blue;
    clip-path: polygon(6.7% 6.7%, 93.3% 6.7%, 50% 93.3%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: white;
    font-size: 10px;
}


