.ball{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.triangle{
    width: 100px;
    height: 50px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: white;
}
