.ball{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.triangle{
    width: 173.205px;
    height: 150px;
    background-color: blue;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: white;
    font-size: 10px;
    text-align: center;
}








